<form class="form">
  <mat-form-field class="full-width">
    <input type="text"
      placeholder="select a local government : 'Paris', 'Saint-Tropez', 'Gouzeaucourt'..."
      aria-label="Number"
      matInput
      [formControl]="localGovernmentSelectorControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectLocalGovernement($event.option)'>
      <mat-option *ngFor="let displayedLocalGovernment of displayedLocalGovernments" [value]="displayedLocalGovernment.id">
        {{displayedLocalGovernment.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
